.frontPageShowcaseContainer {
  padding-top: 16px;
  padding-bottom: 12px;
  max-width: 100%;
  position: relative;
  columns: 2;
  column-width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.frontPageShowcase {
  width: 47%;
  margin: 0;
  padding: 1%;
}

.singleShowcaseContainer {
  margin-right: 0px;
  padding-top: 16px;
  padding-bottom: 12px;
  max-width: 100%;
  position: relative;
  columns: 1;
  column-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.singleShowcase {
  max-width: 98%;
  align-items: center;
  align-content: center;
  align-self: center;
}

.singleShowcase p{
  margin-bottom: 26px;
}

.singleShowcaseImgContainer {
  text-align: left !important;
  width: 100%;
  align-self: center;
  padding: 0px;
  object-fit: cover;
  margin-bottom: 8px;
}

.imgContainer {
  text-align: left !important;
  align-content: left;
  align-items: left;
  padding: 4px;
  padding-top: 8px;
  padding-left: 0px;
  margin: 0px;
  width: 100%;
  object-fit: cover;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.imgText {
  position: absolute;
  margin-left: 6px;
  font-size: xx-large;
  font-weight: 500;
}

.imgContainer :hover{
  /* sadly won't underline when the container is hovered, only text within */
  text-decoration-line: underline;
}