.paletteContainer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  columns: 7;
  column-width: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  align-items: center;
  align-content: center;
}

.square {
  margin: 0;
  width: 20px;
  height: 20px;
}
